[2019-05-08 12:00] HedgeShot opened #1 "Once downloaded"
Hi Jad!

Thanks for the tool!
Do you have any recommendation on a way/tool to parse the TXT file that is downloaded (e.g. 13F)? My end goal is to get the X largest positions in a given 13F.

This is working but I need to manually get rid of some part of the TXT file downloaded [parse_13F](https://github.com/Hodapp87/parse_13F)

[2019-05-10 01:06] jadchaar commented on #1
Hey @HedgeShot, apologies for the delayed reply--I have been trying to better understand how to parse the data properly myself for unit testing purposes. Sadly, SEC Edgar is quite dated and does not provide a good parse-friendly format like JSON or even a full submission in XML format.

If we take [Vanguard Group](https://www.sec.gov/Archives/edgar/data/102909/000095012319001986/0000950123-19-0019

[2019-05-10 12:37] HedgeShot commented on #1
Thanks for your answer.

I played a bit more with your tool and I am now able to parse 13F (haven't tried for any other filing) using the tool I mentioned above (parse_13F). I linked the two tools by creating a "pre-processing" function that basically create a XML file that fits the second tool from the downloaded TXT file.

By the way, did you get blacklisted from SEC after downloading many filin

[2019-05-10 17:50] jadchaar commented on #1
I did remember reading somewhere in the past about how it is possible for your IP to get blacklisted if you search too quickly, but I am yet to encounter it myself.

Also, I am curious, are you extracting the XML portion that contains the information table from the 13-F?

[2019-05-10 20:30] HedgeShot commented on #1
yes I am creating a new XML file with everything between the 2nd <XML> tag as this is the information about holdings that I need and then parse it with the tool linked above. It works for recent filings so it is enough for me but I imagine it will be a pain to make it compatible with older filings. I already encountered 3-4 slightly different XML formed documents...

[2019-05-10 20:37] jadchaar commented on #1
Yeah that is a huge issue with SEC Edgar--there is no standardization at all. If the SEC standardized the XML format for all filings, it would be great. Hopefully in the future things improve.

[2019-05-10 20:43] jadchaar commented on #1
Also @HedgeShot I just noticed that SEC Edgar offers the raw info tables in XML format on the website. For example, the latest 13F for Vanguard: https://www.sec.gov/Archives/edgar/data/102909/000095012319001986/0000950123-19-001986-index.htm.

I bet these are just inserted into the txt file I obtain in this package as is, but it may be worth a try to see if the standalone files are more standardiz

[2019-05-10 20:56] HedgeShot commented on #1
indeed! At first I thought you were stitching together 3 files, header/1st xml/2nd xml, to create your TXT as I have never clicked on this "Complete submission text" file. It can probably help to download the XML file directly but not by much, I guess. Eventually, the full submission file is fine for me.

Thanks again for your tool!

[2019-05-10 21:47] jadchaar commented on #1
Hah! I wish the data was friendlier, but sadly this is the big chunk of data we are given :(.

Thanks for using the tool and reaching out!

[2019-05-10 21:47] #1 closed

[2019-05-27 23:27] jadchaar opened #8 "**Allow users to pass in relative and user download paths**"
- [x] Add ability for user to pass in download paths such as `./` and `~/`

[2019-05-27 23:27] jadchaar opened #9 "**Enforce code style**"
- [x] Pre-commit hooks
- [x] Flake8 enforcement
- [x] Black auto-formatting

[2019-05-27 23:32] #8 closed

[2019-05-27 23:32] #9 closed

[2019-05-30 04:10] pyup-bot opened #11 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-05-30 04:12] #11 closed

[2019-08-15 21:26] HedgeShot opened #20 "Slow download of 13F filings"
Hi,

I used your tool 3 months ago with the method `get_13f_filing_for_cik` to download around 140 13Fs. It took around around 5 minutes. I tried again to download 13F for the same list of CIKs after updating your package. I am now using the method `get_13f_hr_filings`. It took much more time than last time (around 1 hour). Is it to be expected?

Thanks!

[2019-08-15 21:34] jadchaar commented on #20
Hey @HedgeShot, thanks for reaching out! I refactored the package and unified the methods for CIK and tickers into one since the API got cluttered and duplicated otherwise.

I am guessing you were using version `<2.0`. In version `1.x.x`, I used streams to download the filings, but I since changed to using conventional requests after doing some research and reading (the filings did not seem large

[2019-08-18 20:01] HedgeShot commented on #20
Hey,

Thanks for your answer. I don't think the issue as to do with the CIKs I am calling. The time it takes per CIK is fairly the same for each. Connection can't completely ruled out as I was on a 4G dongle but speed test done that day showed similar speed as the other wired connection I am usually using.

I don't do anything that requires speed regarding those 13F, so I am fine with the slower c

[2019-08-19 11:47] jadchaar commented on #20
Thanks for the response @HedgeShot. This is not expected, so I'd like to look into it. If you could try this on your wired connection and report your findings, it would help a lot!

I have had bad luck with 4G dongles. A lot of the time, the carrier throttles you if you are making a lot of subsequent connections.

[2019-09-17 17:19] lamberpj opened #21 "Get all filings without specifying CIK or ticker"
Hi jadchaar,

I am transitioning from the R tool "Edgar" to your tool, using Google Collab to download directly to my Google Drive.

I was wondering if there is scope to use your tool to download all available content for, say, a specific year?  For example, I want to specify "2017" and then get all the 10-Ks filed in that year.

I know I can just find all the CIKs, and feed them in, but this mean

[2019-09-17 19:26] jadchaar commented on #21
Hi @lamberpj, thanks for using the tool :). Sadly, the functionality to bulk download all filings in a particular year is unavailable in the current version of the tool. This is definitely an interesting feature that I would like to investigate further in the future since it would require tapping additional data sources provided by the SEC.

The tool does not currently support 10-KSBs, but support

[2019-09-17 19:27] jadchaar commented on #20
Hey @HedgeShot, is this still occurring for you?

[2019-09-17 19:34] lamberpj commented on #21
Hi Jad,

Thanks for the lightning fast response! I count 36,912 10KSB filings as of today, an example of which is:

CIK: 1411460
NAME: UBIQUITECH SOFTWARE CORP
Filing Date: 2008-11-26
Link: edgar/data/1411460/0001079974-08-000990.txt
Quarter:  4
Year: 2008

This would be greatly appreciated, thank-you so much!

[2019-09-17 19:38] jadchaar commented on #21
Awesome, hopefully I will get some time over the next few days to add support for 10KSB filings :).

[2019-09-17 19:58] HedgeShot commented on #20
Hi, I haven’t tried again yet as I’m running the script each quarter only. I will have a look mid-November at the latest and will let you know

[2019-09-17 21:14] jadchaar commented on #20
No problem :). I just though I'd follow up since it has been a while. No rush.

[2019-09-18 16:35] jadchaar commented on #21
Hey @lamberpj, I just released v2.2.1 with support for form 10KSB :).

You can run `pip install -U sec-edgar-downloader` to upgrade it.

[2019-10-22 21:31] pucek80 opened #23 "Add an option to pull statements after a specific date"
Hi,

Thank you for your current work. I've been using the package to collect data. I was wondering if you would consider including an option to download statements posted after a specific date (currently there is only an option for before date)

Thanks,
Bart

[2019-10-23 15:40] jadchaar commented on #23
Hey @pucek80, thanks for using the tool! The reason I currently only support "before_date" is because that is natively supported by the EDGAR system without the need for manual processing. That said, it is definitely possible to add an "after_date" field, but it will require extra processing of the [XML data](https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000320193&type=&dateb=&ow

[2019-10-24 01:09] jadchaar opened #24 "Add flag to slow down requests to prevent rate limiting"
If too many requests are made over a short period of time, SEC EDGAR begins to rate limit and eventually block an IP, resulting in the following exception:

[code]

It would be nice to investigate a possible way to automatically limit the number of requests by potentially sleeping at certain intervals if a flag is set.

[2019-10-24 17:23] pucek80 commented on #23
I've never done one before. I assume I should go to Pull requests and then somehow add a new one?

[2019-10-24 17:27] jadchaar commented on #23
Hey @pucek80, if you'd like to make the contribution, go for it, but do not feel obligated at all to do it :). I will get around to it at some point!

If you'd like to make the contribution, first start by forking this repository. Then, you can create a branch, make your changes, and go to the pull requests tab in Github to submit a PR with your new branch. More info on making contributions can be

[2019-11-20 17:08] haterade opened #25 "Pip install failure"
I'm having problems with the first step.

The basic command "$ pip install -U sec-edgar-downloader"  does not work for me.

[2019-11-20 17:13] jadchaar commented on #25
Hi @haterade, you should be able to install the tool by running the following command without the "$": `pip install -U sec-edgar-downloader`.

Hope this helps! Let me know if this does not work for you.

[2019-11-20 18:46] haterade commented on #25
Unfortunately, no.   I tried this coding, which seemed to work for the install:

import pip._internal as pip
pip.main(['install', '-U sec-edgar-downloader'])
import sec_edgar_downloader
from sec_edgar_downloader import Downloader
dl = sec_edgar_downloader.Downloader()
dl.get_10k_filings("MSFT")

...but then I got the following message when I ran it.
Usage:
  t1.py install [options] <requirement sp

[2019-11-20 19:15] jadchaar commented on #25
That is peculiar. This seems to be an issue with pip.

What is the error output when you do `pip install -U sec-edgar-downloader`?

Mind trying `pip3 install -U sec-edgar-downloader` and `pip3 install sec-edgar-downloader`? This tool requires Python 3.6+ and you can check your version with `python3 --version`. Also maybe try upgrading pip with `pip3 install --upgrade pip`.

[2019-11-20 22:48] haterade commented on #25
invalid syntax is the error I get for all of those.  I am version 3.8.

[2019-11-21 14:04] jadchaar commented on #25
@haterade this is quite an odd issue. Mind providing with me with some more info so we can get to the bottom of this:

1. What OS are you using? If Windows, are you using WSL?
2. Does this happen when you pip install other packages like `requests` (e.g. `pip install -U requests`)?
3. Are you using a virtual environment?

Thanks.

[2020-01-03 19:43] jadchaar commented on #25
Hi @haterade, I am closing this issue for now, but if it is still occurring, feel free to re-open it.

[2020-01-03 19:43] #25 closed

[2020-01-03 19:44] jadchaar commented on #20
Hey @HedgeShot any updates on this? Today SEC Edgar has been very slow for me, so it is making me think that the slowness you encountered may be on the side of the SEC.

[2020-01-03 19:44] #20 closed

[2020-01-03 19:50] jadchaar commented on #21
Hey @lamberpj, I am working on v3.0.0 of this package with support for specifying an `after_date` parameter. This will allow you to accomplish what you are requesting: you can specify `2019-01-01` as the `after_date` and `2019-12-31` as the `before_date` to get all filings of a particular type for a ticker in the year 2019. All you need to do is find a list of all tickers in the markets (you can c

[2020-01-03 19:50] #21 closed

[2020-01-05 19:24] #23 closed

[2020-01-09 21:23] HedgeShot commented on #20
Hey @jadchaar, last time I used it, it was much faster. I did it on another internet connection so i don't know yet if it is due to the connection speed or the SEC website.

[2020-01-20 14:31] Alex6614 commented on #24
I'm getting a similar error too:

`HTTPSConnectionPool(host='www.sec.gov', port=443): Max retries exceeded with url: /cgi-bin/browse-edgar?action=getcompany&owner=exclude&start=0&count=100&CIK=FISV&type=10-K&dateb=20200120&output=atom (Caused by NewConnectionError(': Failed to establish a new connection: [Errno 111] Connection refused',))`

Not sure if this is due to my firewall, though.

[2020-01-20 16:06] jadchaar commented on #24
@Alex6614 if filings were successfully downloaded to the specified folder, this must mean that your IP has been blacklisted, and adding the sleep command won't work until you get another IP. I would try and obtain another IP address (e.g. by re-connecting your wifi) and try again with the sleep commands included.

[2020-02-12 02:57] ctrlaltd opened #30 "" f"'{filing_type}' filings are not supported" thrown on import"
Hey there! Very excited to use this tool, but I'm having a little problem starting out. I've only added the import and instantiation of the Downloader class, run my python file, and get this:

from sec_edgar_downloader import Downloader
  File "/home/cecelia/.local/lib/python3.5/site-packages/sec_edgar_downloader/Downloader.py", line 112
    f"'{filing_type}' filings are not supported. "

Any idea

[2020-02-12 03:01] jadchaar commented on #30
Hey @ctrlaltd, thanks for reaching out! I actually made this tool with Python 3.6+ in mind because I am using the Pathlib module extensively to make file path operations simpler and more maintainable. I tried back-porting it to Python 2.7 and Python 3.5, but doing so would have required an extensive refactor and reliance on a third party Pathlib package (outside of the standard library). Would it

[2020-02-12 03:52] ctrlaltd commented on #30
That did the trick! Thanks so much for the support!

[2020-02-12 03:52] #30 closed

[2020-03-02 17:11] jadchaar opened #31 "Add ability to save filings to PDF or HTML"
Extract and save filings and save as PDF or HTML. Add a flag to allow for different saving formats.

[2020-03-07 17:56] mksamelson opened #32 "Ability to Just Pull Filing URLs"
Would be nice to be able to access the files on-line for scraping as opposed to downloading them all.  A feature for just returning filing URLs would be handy

[2020-03-07 18:11] jadchaar commented on #32
Hey @mksamelson, thanks for reaching out and using the tool!

I actually have an internal utility function that does exactly what you are requesting:

[code]
The function `sec_edgar_downloader._utils.get_filing_urls_to_download` returns a list of `FilingMetadata` objects, which contain the URL you are looking for. The parameters and interface are exactly the same as the `get` method, but all param

[2020-03-07 18:17] mksamelson commented on #24
What do you mean "by re-connecting your wifi"?  If using a `dl.get()` statement in a loop there is no specification of the URL so I'm not clear what you mean.  Could you elaborate?  Thanks

[2020-03-07 18:24] mksamelson commented on #32
Thanks this is helpful.  It would be great in a future release if you could have a utility that provided URLs of other file formats.  Your utility accesses the *.txt document (full filing).  If there is a way to 1. list the URLs and 2. download html and xml files that would be great.

The image below show the file you reference (circled in red).  The file types highlighted in yellow are also very

[2020-03-07 18:28] jadchaar commented on #24
Hey @mksamelson, sorry I should make that more clear. What I mean is that you need to establish a new IP address since the SEC temporarily blacklisted your current one for rate limiting purposes. So you simply need to disconnect your wifi on your machine and reconnect to it to establish a new IP address. This works because most computers obtain an IP address with a process called DHCP.

This is an

[2020-03-07 18:34] jadchaar commented on #32
Your request has been noted! This is actually quite related to https://github.com/jadchaar/sec-edgar-downloader/issues/31. When I get a free moment, I will work toward adding this feature!

Originally I created this tool for text parsing purposes, but I have seen a nice influx of users requesting the ability to download XML and HTML versions as well, so this will hopefully be the next feature I wo

[2020-03-07 18:36] mksamelson commented on #32
Thanks.

Just for additional clarity, the txt files have html tags but often have a lot of other junk that causes issues when trying to use an html/xml parser.  So you usually have to resort to regular expressions to parse.  However, the raw html and xml files don't have this issue.

[2020-03-07 18:45] mksamelson commented on #24
Thanks for your reply.

So I put in sleep for 25 seconds between `dl.get` calls in my loop.  My script also does some intensive parsing of the files so in my case it is probably 2 to 3 minutes between bulk pulls.   So it looks like I'm already following your guidance.

Still, I'm finding after about 40 to 50 pulls sec.edgar blocks me and kills my script.  It's strange because it's not like I'm doi

[2020-03-07 18:49] jadchaar commented on #24
You may still be blacklisted if the calls to `dl.get` involve a large number of filings (e.g. 100+), so splitting up the number of filings you download for each call to `dl.get` could also help prevent this.

For example: you could change a call like `dl.get("8-K", "AAPL", 300)` into 3 calls with 100 filings each.

[2020-03-07 18:51] jadchaar commented on #32
Thanks for letting me know and thanks for finding a work regex workaround in the meantime :).

[2020-03-07 18:55] mksamelson commented on #24
That is probably what is happening in my case.

[2020-03-09 17:04] mksamelson commented on #24
Fix:  Implement a delay in your `download_files' utility.  SEC Edgar only allows 10 tries per second before blocking.  Do a `time.sleep(.15) to be safe and there will be no block.  And it's one line of code.

[2020-03-09 17:27] jadchaar commented on #24
@mksamelson thanks a ton for investigating this issue. If you would like to implement the change and submit a pull request, feel free to! Otherwise, I will make the change myself soon.

[2020-03-09 18:54] #24 closed

[2020-03-09 19:03] jadchaar commented on #24
I just pushed v3.0.2 of the package with the added sleep statement to prevent rate limiting.

[2020-03-26 01:00] Huddie commented on #31
+1

[2020-04-01 13:36] IgBell opened #34 "Different format report compare CIK 1067983 vs 1541617"
For Berkshire, program gives nice txt with tables in it, for Altimetr capital, it gives txt, but like xml file if open. Check out CIK 1067983 vs 1541617.

[2020-04-01 16:16] jadchaar commented on #34
Hey @IgBell, can you give me a specific example like a URL and/or a screenshot of what you are speaking of? Also, which form type are you trying to download?

[2020-04-01 16:48] IgBell commented on #34
Hello Jad,

I am talking about 13F report here. I use

dl.get("13F-HR", "1067983")

and

dl.get("13F-HR", "1541617")

and got different results? check out in attachment  different structure
inside files

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source

[2020-04-01 16:58] jadchaar commented on #34
Hey @IgBell, sadly this is something that is out of my control and must be a matter of the 13F format and SEC requirements changing over the years. Notice how the Berkshire 13F is from 2009 but the Altimeter Capital filing is from 2012.

If I do the following, I get very similar formats of the submission files (an XML-like file):

[code]

To give you a sense of what this tool is doing, it download

[2020-04-01 17:11] IgBell commented on #34
got it, it will be much easier if it'll be possible to download 13fInfoTable.html
there are some nice ready-made solutions to work with it,  Complete submission text file is harder to parse into dataframe to compare (well, maybe for me as a rookie). My idea was to merge your code with this one
[https://briancaffey.github.io/2018/01/30/reading-13f-sec-filings-with-python.html](url)
Thank you,
Igor

[2020-04-01 17:20] IgBell commented on #34
Reading 13F SEC filings with python
in case you can't open the link, copy-paste the link directly to a browser.

[2020-04-08 08:41] flowtrader2016 opened #35 "Form 4 (insider trading)"
Hi,

Would it be difficult to retrieve "form 4" data with sec-edgar-downloader?

Here is a recent [example](https://www.sec.gov/Archives/edgar/data/1067983/000120919120023268/0001209191-20-023268.txt):

[Wikipedia](https://en.wikipedia.org/wiki/Form_4) page

If this is not something you would look to implement do you have any suggestions around how I could modify sec-edgar-downloader to achieve th

[2020-04-08 22:24] #35 closed

[2020-04-08 22:25] jadchaar commented on #35
Hey @flowtrader2016 thanks for asking! I have just added support for it and will be shipping v3.0.3 to PyPI very soon.

[2020-05-10 17:59] jadchaar commented on #34
This should hopefully be fixed by https://github.com/jadchaar/sec-edgar-downloader/issues/32, so I am closing this issue for now.

[2020-05-10 17:59] #34 closed

[2020-05-10 18:01] jadchaar opened #38 "Add ability to download filings for all tickers in a particular date range"
Key idea: download all filings for every single ticker in a particular date range (e.g. all 10-K forms filed in 2018).

[This](https://www.sec.gov/cgi-bin/browse-edgar?action=getcurrent) could potentially facilitate this feature.

[2020-05-14 18:52] meyerhj opened #39 "Form DEF 14A"
Hey,

would it be difficult to include form DEF 14A (Proxy Statement) as a supported filing?

It contains a lot of useful information on shareholders and corporate governance which could be really useful.

https://en.wikipedia.org/wiki/Proxy_statement

Best wishes and thanks for the great tool!

[2020-05-16 17:28] jadchaar commented on #39
Hey @meyerhj, thanks for the kind words. I have added support for DEF 14A filings in [v3.0.5](https://pypi.org/project/sec-edgar-downloader/). Check it out and let me know what you think!

[2020-05-16 17:28] #39 closed

[2020-05-27 23:44] kuatroka opened #41 "Apply correct look & feel depending on a filing format"
There are multiple formats in EDGAR. For old filings it's all in `txt `format, but the new ones, are `xml `even thought original files on EDGAR are still `txt`. It means that all the recent filings are unreadable after download because they're all in `xml `format.

It would be great if this tool could distinguish between real `txt `file (old format) and the `xml `(new format) and apply appropriate

[2020-05-28 00:18] kuatroka opened #42 "Download all filings in date range"
Hi, How should I use this downloader to extract the IPO data? I know it's S-1 filing type, but is there a way to download all IPO filings based on a date range and not on the company's name? The point of IPO is that mostly they are new and unknown companies and we don't know their names or stickers yet.

Thanks,

[2020-05-29 04:33] jadchaar commented on #41
Hey @kuatroka, thanks for bringing this up. SEC Edgar is kind of a wild west and lacks standardization (e.g. I am not sure if the start date of the new format was strictly enforced).

Can you give me two exact examples of filings that demonstrate the new and old format? That way I can put together a solution for this :).

[2020-05-29 04:57] jadchaar commented on #42
Hey @kuatroka, thanks for the feature request. Currently, date range functionality is not possible without a ticker. Another package called [`python-edgar`](https://pypi.org/project/python-edgar/) might be able to fill this gap, at least to a limited extent, until this is added to this library.

[2020-05-29 15:15] kuatroka commented on #41
I have a conceptual idea on how it might work:

Check [this page](https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001067983&type=13F-HR&dateb=&owner=exclude&count=100).

If you filer it to view only documents prior the date **20000101**
and filter to only filings **13F-HR**
you will see only `.txt` files and if you open then them, you will find the file is an actual `.txt` with a c

[2020-05-30 17:10] jadchaar commented on #42
Re-opening this because I think this is a valuable feature, but I do want to chat to see your thoughts. Check out my site for my email: https://jadchaar.me/ (not posting here due to farming by spam bots).

[2020-05-30 17:21] jadchaar commented on #41
Interesting. It seems like older filings only post a txt file, but the newer ones have XML and HTML files in addition. I could potentially design a hierarchy that will attempt an XML parse if there is more than one submission file and if not, fall back to the txt.

Do you know if this is the case with other filing types as well?

[2020-06-01 14:00] pyturn opened #43 "Add ability to download the structured files directly. In (XLSX / CSV formats)"
Hi,

Can you add the ability by which we can download the structured file formats directly. For example -

![Capture_ability](https://user-images.githubusercontent.com/25935364/83416398-3a399000-a43e-11ea-9094-14a07619a23a.PNG)

[2020-06-01 23:03] kuatroka commented on #41
I check all the filing types and here is the logic:

- All filings, new or old have at least a `.txt` file
- Starting from certain year some filings appear in other formats in addition to the always present `.txt`  format.
-  If there is only a `.txt` file, then it's formatted in a normal way, but if besides the `.txt` there are other formats, then the `.txt` file is formatted as an `xml `and not

[2020-06-01 23:49] kuatroka commented on #42
Sent you email. Let me know what you think.

[2020-06-07 17:50] jadchaar commented on #43
Hey @pyturn thanks for suggesting this feature. Can you provide me a link to the page shown in the screenshot?

Also I am curious, what value does the excel document provide? Curious to understand use cases :).

[2020-06-07 18:00] jadchaar commented on #41
Is the HTML file more easily parsable than the TXT file since it is technically XML?

[2020-06-08 20:58] kuatroka commented on #41
Not really sure. My idea was to have it in such an easy format so it can easily be opened with pandas for further analysis and such. I know pandas has simple `.csv` and` .html` read commands. Also `.html` seems to be of a smaller size, but in reality, it's up to you as I bet you know better what is easier to parse.

[2020-07-26 00:01] 3sticks opened #46 "Add a limiter to not request past the SEC's 10 requests per second limit"
I know we can just sleep(1) in a for loop when we run .get, but before I realized there was a limit, I actually had my IP address blocked. Luckily I can get around it, but others might not be so lucky. But, perhaps, ignorance comes at a cost, and maybe you don't have to do anything about it. I just thought I would bring it up. It's possible it wasn't even the 10 second limit, and they blocked me f

[2020-07-26 01:25] jadchaar commented on #46
Hi @3sticks thanks for using this package and I appreciate the kind words. That is interesting that you encountered a rate limit because I implemented a 15ms sleep call in the download looping logic thanks to a suggestion in https://github.com/jadchaar/sec-edgar-downloader/issues/24. Basically, a user suggested that the SEC Edgar system requires less than 10 requests per second before it rate limi

[2020-07-28 01:01] 3sticks commented on #46
@jadchaar ah, I should have looked at the source code! It is very possible it was just due to sheer volume. I wasn't querying that many CIKs, but who knows.

I should have trusted that you had it baked in. Everything works great. Sorry for falsely bringing this up!

[2020-07-28 01:01] #46 closed

[2020-07-28 02:39] jadchaar commented on #46
No problem at all @3sticks, I am always open to improving this package! Please let me know if it occurs again. It would be great to gather some data on when the block/rate limit occurs and what queries were being made so we can get a sense of what is causing it. The SEC site is very unfriendly to scrapers, so the rate limits may have changed since I last took a look :).

[2020-08-27 16:36] jasontwright commented on #38
This is a key feature for which I have been looking.  More specifically, my use case is to download all filings from a particular day and then perform keyword searches to flag for further examination and review.

[2020-08-27 16:44] jasontwright opened #47 "Add Form 6-K to Filing Type"
When a non-U.S. issuer files an annual, semi-annual, or quarterly financial report with the regulators in its home country, it must submit a cover statement on the foreign filings to the SEC, which relieves the burden of dual reporting for certain non-U.S. issuers who must file under these rules. In essence, this supplements the 20-F, which you have already included in the filing type.

Since any

[2020-08-27 20:35] jadchaar commented on #38
Hey @jasontwright, it seems like some recent upgrades to Edgar can enable this functionality, but it will require a large rewrite of existing code. I will start working on this today!

[2020-08-29 18:36] jadchaar commented on #47
This should also make its way to the revamped v4 update I am working towards :).

[2020-10-27 16:41] mrx23dot opened #48 "SEC parsing suggestion"
In the readme please suggest a good XML SEC parsing python library.

(some guidance for new users where to go next)

[2020-10-27 16:58] jadchaar commented on #48
Hi @mrx23dot, which filings are you looking to parse?

[2020-10-27 17:25] mrx23dot commented on #48
10-K, but I guess a universal parser would be nice to be linked.

[2020-10-27 17:54] jadchaar commented on #48
I'd have to do some research into packages dedicated to parsing, but I know of an R package called quantmod that is pretty widely used: https://cran.r-project.org/web/packages/quantmod/index.html.

[2021-01-01 19:04] jkconaway opened #50 "Add ability to download amended SEC filings"
Hi! Many companies have to amend and resubmit their filings for one reason or another, so it would be nice if you could add to the list of supported filings the amended versions of each. For example, 10-K/A, 13F-HD/A, etc.

[2021-01-02 23:32] jadchaar commented on #50
Thanks for the suggestion @jkconaway! As of now, amends can be downloaded for all filings that support them by passing the  `include_amends=True` kwarg to the `dl.get()` function, but I agree this can be better documented.

[2021-01-03 00:37] jkconaway commented on #50
Oh, excellent! I missed that info in the "Example Usage". Thank you for your quick reply!

[2021-01-04 01:32] tczhaodachuan opened #51 "A question regarding the data range"
Very useful repo! I just have one question, when i download the 13F I found it's only went back to 20170101. Do we have more data before that date?

[2021-01-04 01:55] jadchaar commented on #51
Hi @tczhaodachuan, thanks for the complement! Which company are you downloading 13F forms for?

[2021-01-04 02:31] tczhaodachuan commented on #51
I was trying ARK investment cik 001697748

On Sun, Jan 3, 2021 at 8:55 PM Jad Chaar <notifications@github.com> wrote:

--
Sent from iPhone

[2021-01-04 02:34] jadchaar commented on #51
001697748 does not seem like a valid CIK. It must be that the ARK etf you are looking at was created in 2017, so there are no 13F filings before its inception date. I know ARK etfs are fairly new, so this is probably the reason.

[2021-01-04 02:49] #50 closed

[2021-01-04 02:49] jadchaar commented on #50
No problem! I will make this more clear in the documentation :).

[2021-01-04 02:58] tczhaodachuan commented on #51
I see, ok that makes sense. I will double check on my end. Why it’s not a
valid CIk? I am using that to download data actually.

On Sun, Jan 3, 2021 at 9:35 PM Jad Chaar <notifications@github.com> wrote:

--
Sent from iPhone

[2021-01-04 03:01] jadchaar commented on #51
Apologies, I copied the CIK wrong hah! So yeah, checking here: https://www.sec.gov/edgar/search/#/dateRange=all&ciks=0001697748&entityName=ARK%2520Investment%2520Management%2520LLC%2520(CIK%25200001697748), it seems like the earliest filing is from 2017 :).

[2021-01-04 03:01] #51 closed

[2021-01-04 05:18] tczhaodachuan commented on #51
Thanks, this explained the situation. This library is quite useful.
Do you have any library to parse the raw 13f data?

On Sun, Jan 3, 2021 at 10:01 PM Jad Chaar <notifications@github.com> wrote:

--
Sent from iPhone

[2021-01-04 16:51] jadchaar commented on #51
Sadly I do not know of any libraries off the top of my head for parsing the filings. I do know there is a popular series on youtube regarding this: https://www.youtube.com/watch?v=TxUmufNnIaA.

[2021-01-18 04:01] jadchaar commented on #41
As part of v4 of this package (https://github.com/jadchaar/sec-edgar-downloader/pull/52), I am adding the ability to download filing details provided by the EDGAR Search API (HTML or XML file depending on the filing type). That said, the XML file provided by the API is not the one you are looking for, so I will need to expand my search for a solution here. A potential idea I have is to take the ac

[2021-01-18 04:03] jadchaar commented on #32
v4 of this package will add the ability to download XML and HTML filing details in addition to the full submission TXT: https://github.com/jadchaar/sec-edgar-downloader/pull/52. I still need to make a public facing function for obtaining the URLs without downloading, but the utility function can still serve this purpose until a public function on the `Downloader` class is added.

[2021-01-18 04:13] #47 closed

[2021-01-18 04:13] #31 closed

[2021-01-21 07:16] tsauliu opened #53 "add function to download"
thanks for such an amazing python package!

a small advice:
in many cases the extension file contains the most important informations, could you add the option for us to download the extension file?

![image](https://user-images.githubusercontent.com/10590746/105316303-a51d1e80-5bfb-11eb-9d30-b2d6810a6a4e.png)

[2021-01-21 17:12] jadchaar commented on #53
Thanks for using the package @tsauliu :).

This is closely related to my comment here: https://github.com/jadchaar/sec-edgar-downloader/issues/41#issuecomment-761964936. Sadly the EDGAR Search API does not provide download links for documents beyond the full text submission and filing details, so I will need to resort back to a fragile scraping approach in combination with the API to accomplish th

[2021-01-23 03:38] clifton opened #54 "404 on a filing halts the download"
[code]

perhaps the right thing would be to log the 404 and continue?

im happy to create a patch and send a pull request if that is OK

[2021-01-23 04:01] jadchaar commented on #54
Hi @clifton, thanks for reporting this! This seems to be due to an issue with the EDGAR Search API on this 8-K entry: https://www.sec.gov/edgar/search/#/dateRange=custom&category=custom&entityName=0000101778&startdt=2001-02-26&enddt=2001-02-28&forms=8-K.

The Search API seems to return the following:

[code]

According to the HTML download page here https://www.sec.gov/Archives/edgar/data/00001017

[2021-01-23 05:08] #54 closed

[2021-01-23 05:14] jadchaar commented on #54
I just released v4.0.1 to fix this @clifton! Let me know if this fixes the issue :).

[2021-01-23 05:16] clifton commented on #54
Fantastic! Thanks for the quick response

[2021-01-24 20:59] nono-london opened #56 "Labelling of downloaded files - improvement?"
Hello,
Thanks for this code.
I was wondering, if it was possible to have a more meaningful file labelling: "yyyy_mm_dd" +"filetype" for instance?
Best and thank you

[2021-01-24 21:43] jadchaar commented on #56
Thanks for the feature request @nono-london! Since v4 is now using the Search API, obtaining such information is very easy and I should be able to add this naming scheme change in the future!

[2021-01-26 20:45] jadchaar commented on #54
Got back a response from the SEC and I wanted to share the response for the record:

So this is definitely an issue on the SEC side of things, but it seems isolated (hopefully) to filings before 2001!

[2021-01-27 08:13] tsauliu commented on #53
Hi @jadchaar
I think you dont have to scape these extension files.

these extenstion file have the fixed structure，for example:

**extension file:** https://www.sec.gov/Archives/edgar/data/1754581/000110465920061090/a20-19544_1ex99d1.htm
**orginal 6k file:** https://www.sec.gov/Archives/edgar/data/1754581/000110465920061090/a20-19544_16k.htm

i think you just have to replace **6k** with **ex99d1**

[2021-02-07 04:32] jerryzhujian9 opened #58 "would not download amendment"
The supported_filings constant does not include amendment, for example SC 13D/A. So it would skip those amendments.

[2021-02-07 04:57] jadchaar commented on #58
Hi @jerryzhujian9, please pass the kwarg `include_amends` to the get function to download amendments: `dl.get("8-K", "AAPL", include_amends=True)`.

[2021-02-07 04:57] #58 closed

[2021-02-16 21:14] wellsangels opened #59 "TypeError: get() got an unexpected keyword argument 'amount'"
The following gives me a TypeError, and I don't understand why. If I remove "`amount =`" and just include the argument `1` it seems to run fine.

[code]

[2021-02-16 22:46] jadchaar commented on #59
Hi @wellsangels, what version of this package are you running? I am unable to reproduce the TypeError given your code snippet:

[code]

[2021-02-17 01:49] wellsangels commented on #59
Thanks @jadchaar. For some reason, I had version 3.0.5. Updating to 4.0.1 gives the desired output.

[2021-02-17 01:49] #59 closed

[2021-02-17 22:49] neilbartlett opened #60 "RecursionError: maximum recursion depth exceeded"
[code]

raises the following exception

[code]

The `get` succeeds in downloading and converting many of the 10-K submissions, but downloads and then fails to parse one file.

If `download_details=False`, the exception is not raised.

The code should catch the `RecursionError`, generate a warning message and then continue --- essentially behaving as if `download_details=False` for any failing subm

[2021-02-17 23:11] jadchaar commented on #60
Interesting... beautiful soup, the extension I use to resolve URLs, seems to be having trouble here. Do you happen to know which filing caused the problem @neilbartlett? E.g. which 10-K for AIZ?

[2021-02-17 23:43] neilbartlett commented on #60
@jadchaar
Looks like there are two for AIZ (though I was trying to download all 10-Ks for S&P constituents and there are others)

./0000950123-04-003991:
full-submission.txt

./0000950123-05-003934:
full-submission.txt

BTW I added a catch to the error and submitted that as a PullRequest. Obviously as full parse would be useful :-)

BTW Attached is one of the files.
[full-submission.txt](https://g

[2021-02-18 06:29] #60 closed

[2021-02-18 06:39] jadchaar commented on #60
v4.0.2 is now published to pypi. Thanks again Neil for reporting this issue!

[2021-02-25 18:05] emjc93 opened #63 "SSL error"
Hi, I am currently getting the error on python version 3.7 :

Example input:

dl.get("8-K", "AAPL", amount=1)

error:

SSLError: HTTPSConnectionPool(host='efts.sec.gov', port=443): Max retries exceeded with url: /LATEST/search-index (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')])")))

happens with request and can

[2021-02-25 19:33] jadchaar commented on #63
Hi @emjc93, I am unable to reproduce this on my end:

[code]

[2021-02-26 10:13] emjc93 commented on #63
Hi jadchaar - thanks so much for coming back to me.
Ah ok -  I will look into it further.

[2021-02-26 19:40] jadchaar commented on #63
Feel free to re-open this if you are able to reproduce the problem :)!

[2021-02-26 19:40] #63 closed

[2021-03-11 02:14] lakshaykc opened #64 "Download filings before 2000"
I see that filings are only downloaded for dates after 2000. For example when downloading filings for 'AAPL' and 'MSFT', the earliest I see is 2000. Shouldn't there be filings for 1994-2000 as well? Is there an explicit date filter in `sec-edgar-downloader` which excludes years prior to 2000?

[2021-03-11 03:48] jadchaar commented on #64
Hi @lakshaykc, this is sadly a limitation of the EDGAR Full Text Search system (https://www.sec.gov/edgar/search/) that is at the backbone of this package. Version 3.x.x of this package uses an alternative approach that combines web scraping/ATOM RSS feeds to fetch filings, so that may be of use to you. I switched to the newer full text search system (as compared to the existing and antiquated EDG

[2021-03-11 17:25] lakshaykc commented on #64
Hi @jadchaar, thanks for your comments. I'll check out version 3 for pre-2000 filings.

[2021-03-30 00:35] convergenceIM opened #65 "Only getting the two latest filings of NPORT-P"
Thanks for writing / sharing this package. It's clean and useful! I'm mainly trying to get NPORT-P files and am only able to get the two most recent for any symbol I search. It doesn't seem to be a problem of getting rate limited or banned since I'm able to get many more of other file types, and get zero NPORT files if I request for a date range that doesn't include the two most recent.
`ticker =

[2021-03-31 07:35] bosanipietro opened #66 "Adding new filing types"
Thank you very much for the work you have contributed!
I would like to ask whether it would be possible to add S-1/A filings to the list of potential filings that can be downloaded.

[2021-03-31 20:20] shymoon2 opened #67 "No 424B4 filings found for CIK 0001105533"
jadchaar, Thanks for the great program.

I find an issue when downloading a specific filing from EDGAR and would like to ask why it doesn't work for this type of filing.
dl.get("424B4", "0001105533") returns zero and do not download any 424B4 filing. However, there is indeed one exsiting 424B4 filing for this company on EDGAR.
https://www.sec.gov/edgar/browse/?CIK=1105533&owner=exclude
https://www

[2021-03-31 20:43] jadchaar commented on #67
Hi @shymoon2 thanks for reporting this. The new SEC Edgar Search API that is at the backbone of this package is quite new and it seems like the SEC is still trying to nail down issues with it. It seems like the full text search tool does not pick up the 424B4: https://www.sec.gov/edgar/search/#/dateRange=all&category=custom&ciks=0001105533&entityName=ARGOS%2520THERAPEUTICS%2520INC%2520(ARGS)%2520(

[2021-03-31 20:52] shymoon2 commented on #67
Thank you so much for your clarification on the issue and reporting the bug in the new Edgar Search API to the SEC. Greatly appreciated!

[2021-03-31 21:02] jadchaar commented on #66
Hi @bosanipietro, this is actually currently possible with the following command: `dl.get("S-1", "0001477333", include_amends=True)`

Here is an example of the command run for Cloudflare (CIK: 0001477333) which has an S-1 and two S-1/A forms:
![Screen Shot 2021-03-31 at 5 01 24 PM](https://user-images.githubusercontent.com/7388203/113210868-bc533a80-9242-11eb-89d4-542dfa0bbae3.png)

[2021-03-31 21:02] #66 closed

[2021-03-31 21:04] jadchaar commented on #67
Thank you for bringing this up! Working with the SEC Edgar system is an absolute pain since it is stuck in the dark ages, but I will try my best to look into an alternative for the full text search API since it seems to be pretty flaky since I switched this package to use it. Too bad there is so little documentation on the system and a lot of my time is spent reverse engineering how they download

[2021-04-02 19:44] jadchaar commented on #67
Hi @shymoon2, the SEC got back to me today and said they have resolved this bug on their end! Obtaining 424B4 filings for CIK 0001105533 now works as expected:

[code]

[2021-04-02 19:44] #67 closed

[2021-04-02 20:02] jadchaar commented on #65
Hi @convergenceIM, thanks for bringing this to my attention. The SEC Edgar Full Text search API does not seem like it handles tickers very well, but it handles CIKs very nicely. If you substitute `SPY` for its corresponding CIK `0000884394`, you get all the NPORT-P forms for it (there are 6 available for SPY):

[code]

Does this help? I wish the ticker searches were more accurate, but it seems lik

[2021-04-03 21:06] shymoon2 commented on #67
Thank you so much for the update. It works well!!

[2021-04-05 22:19] samuel6269 opened #68 "403 Client Error"
Hi, I was trying to execute the following:

'dl.get('10-Q', '0000066740', after='2018-01-01')'

But I got a few error messages regarding a 403 client error. Here's an example of one:
'Skipping filing detail download for '0001558370-20-011804' due to network error: 403 Client Error: Forbidden for url: https://www.sec.gov/Archives/edgar/data/0000066740/000155837020011804/mmm-20200930x10q.htm.'

Woul

[2021-04-06 00:54] jadchaar commented on #68
Hi @samuel6269, does this happen on any filing download (e.g. what if you try downloading a single 8-K or 10-K right now?).

Also, did this happen after a bunch of downloads or on your first one? Rate-limiting has always been a cloudy area with the SEC, so I am always looking to improve it.

[2021-04-06 03:47] jkconaway commented on #68
Hello! I am receiving the same error message. I am attempting to download 13F-HD for a list of CIKs; it is skipping a handful of filings for each CIK.

For example, focusing on only one ticker, I just collected ten 13F-HR filings and skipped three with the following:
dl.get("13F-HR", "BABA", after="2018-01-01", download_details=False, include_amends=True)

If I change after="2018-01-01" to amount=

[2021-04-06 03:54] samuel6269 commented on #68
@jadchaar, I tried just downloading a single 10-Q statement for any company, and the result is pretty random. Some runs it was able to download, while other runs, I got this same error.

I was able to download multiple statements during my first week of use without any errors. (I downloaded 10-Q statements for about 20 companies during a 4 year time span). However, when I try to now download any s

[2021-04-06 07:50] schawnlee commented on #68
Hi dear @jadchaar, I am facing with the same issue trying to download all the 10-K fillings from SP500 firms in the last 10 years. It worked just fine last month but now it returns 403 error. I can however, access the files through the URL with my browser.  If the access restriction comes from the SEC side, a solution maybe to collect the undownloadable paths and try to re-access them.

Greetings

[2021-04-06 17:29] jadchaar commented on #68
Thank you everyone for your input, this is very odd. Running `dl.get("13F-HR", "BABA", after="2018-01-01", download_details=False, include_amends=True)` like @jkconaway mentioned returns me the same errors (sometimes 2 or sometimes 3 depending on the run), despite the URL working properly in the browser. This makes me think that the SEC is attempting to block automated crawlers that do not have a

[2021-04-06 17:36] jadchaar commented on #68
Once version 4.0.3 is released to PyPi, would ya'll mind giving this another go to see if it has been resolved? Thanks :).

[2021-04-06 17:44] #68 closed

[2021-04-06 19:34] jadchaar commented on #68
Version 4.0.3 has been published, please give it another shot :)!

[2021-04-06 19:35] #65 closed

[2021-04-07 16:54] jkconaway commented on #68
@jadchaar I am currently pulling 13F-HD filings for a list of 3,000+ CIKs and it is working without any issues! Thank you for being so prompt at resolving this!

[2021-04-11 19:41] knslee07 opened #70 "preventing 403 client error"
Hello,

First, I would thank you for making this Python module.
I have been trying to download SEC filings and realized that since SEC.gov does not allow making more than ten requests at the same time, when not setting up the amount option, I find 403 client errors like this

Skipping full submission download for '0001018724-19-000004' due to network error: 403 Client Error: Forbidden for url: htt

[2021-04-11 21:43] jadchaar commented on #70
Hi @knslee07, what version of this package are you using? You can find out as follows:

[code]

[2021-04-11 23:43] knslee07 commented on #70
Thank you for your reply.
Mine is 4.0.2. After reading your reply, I just updated it to 4.0.3. Will that solve the issue? I have written a code using time.sleep(). It did reduce the number of the messages but did not completely solve the issue.
After updating, I have been test-running my code and so far have not seen the same message. Is this thanks to the update for the newest version? Anyway, if

[2021-04-12 00:36] jadchaar commented on #70
Yup I recently pushed out v4.0.3 since a lot of users were complaining about the 403 errors. It seems like the SEC has gotten stricter about their rate limiting recently, so I needed to generate a fake user-agent on each request to make it seem like the requests are coming from a browser rather than a script. This seems to have alleviated most of the 403 errors :). I am already sleeping every .10s

[2021-04-12 00:36] #70 closed

[2021-04-12 02:58] tczhaodachuan opened #71 "403 Client error"
Hi:
We've been using the package 3.0.5 version, it was working fine. However, recently it starts to throw this error:

File "/aitrading/etl/edgar/sec_filing.py", line 53, in get_data
    after_date=self.after_yyyymmdd, before_date=self.before_yyyymmdd)
  File "/usr/local/lib/python3.7/site-packages/sec_edgar_downloader/Downloader.py", line 153, in get
    include_amends,
  File "/usr/local/lib/pyt

[2021-04-12 03:01] tczhaodachuan commented on #71
I am searching online document, it could be related with https://developer.edgar-online.com/docs/RateLimits

[2021-04-12 03:03] jadchaar commented on #71
Hi @tczhaodachuan, sadly I am no long maintaining the 3.x branch of this package. Try upgrading to version 4.0.3 by running `pip install -U sec-edgar-downloader`. My most recent update added randomized `user-agent` headers to requests to prevent rate limiting in addition to the 10 requests per second (I `time.sleep(.10)` in the code) required by the SEC (https://www.sec.gov/os/accessing-edgar-data

[2021-04-12 03:31] tczhaodachuan commented on #71
Yes, I added a sleep method to avoid this problem. I will close this issue for now and update my versions.

[2021-04-12 03:31] #71 closed

[2021-04-22 08:07] bosanipietro opened #72 "Issue with downloading filings"
Thank you for the package!

I have been trying to download S-1 filings but consistently get the same error for most filings:
`Skipping filing detail download for '0001628280-20-017136' due to network error: 403 Client Error: Forbidden for url: https://www.sec.gov/Archives/edgar/data/0001577526/000162828020017136/c3ais-1a3.htm.`
The line of code that resulted in this output is `dl.get("S-1", "00015

[2021-04-22 15:59] jadchaar commented on #72
Hi @bosanipietro, which version of this package are you using? You can check by doing
[code]

[2021-04-22 16:39] bosanipietro commented on #72
Version 4.0.1

[2021-04-22 16:57] jadchaar commented on #72
Try updating to version 4.0.3 with `pip install -U sec-edgar-downloader` as that should resolve the issue (ref: https://github.com/jadchaar/sec-edgar-downloader/issues/68).

[2021-04-22 16:57] #72 closed

[2021-04-22 16:57] jadchaar commented on #72
Feel free to re-open if necessary, but 4.0.3 should be the resolution :)!

[2021-04-22 17:13] bosanipietro commented on #72
Sorry to bother you again but I’m still having some troubles.
I tried updating the library using the command you suggested and imported it again. I then tried to check for the version, but keep seeing 4.0.1. Do you know why this could be the case?

Thank you very much for your help.
Pietro Bosani

From: Jad Chaar ***@***.***>
Date: Thursday, 22 April 2021 at 18:57
To: jadchaar/sec-edgar-downloader

[2021-04-22 17:25] bosanipietro commented on #72
Unfortunately even after updating the package version, dl.get still cannot find and download existing files (as example shown above). Would you have any other suggestions on what may be causing this issue?

[2021-04-22 18:14] jadchaar commented on #72
Hi @bosanipietro, thanks for following up. I get the following output from your commands on v4.0.3:

[code]

It seems like the first command is failing to fetch any filings because the SEC Edgar search system at the core of this package does not fetch filings before 2001: https://www.sec.gov/edgar/search/#/q=0001096219&dateRange=all&category=custom&forms=S-1. I recently moved over to this new SEC

[2021-04-23 07:54] bosanipietro commented on #72
You are right, it only has issues with filings before 2001. Thank you very much for your help!
Would you be able to answer just one last question, as in some cases I am still getting the error message because it cannot download the filing details for certain CIK codes: what is the difference between the full submission txt and the filing details txt?

[2021-04-23 15:12] jadchaar commented on #72
Happy to answer questions! The full submission is a massive text file containing all the info you need for a filing, but it may require more complex parsing methods. The filing details are supplementary docs that might be helpful for particular filings (they might be XMLs with numbers that are more easily parseable). Also the filing details might be more human readable HTML forms that can be opene

[2021-04-23 15:28] bosanipietro commented on #72
Does the filing detail actually contain all of the information of the filing? Because I was comparing one of the outcomes to the S-1 filing as shown on the SEC website and the filing detail when in html form seems to resemble the latter very closely. The full submission, as you stated, is extremely large and for a natural language processing task I am having serious difficulty in cleaning the data

[2021-04-23 16:48] jadchaar commented on #72
I have not dealt with S-1s enough to comment on that, but I'd take a look at the filing details doc to see if it contains the equivalent data you are looking for from the full submission :)!

[2021-04-29 21:43] Rossco8 commented on #38
+1 please!
I'd love to be able to download all filings for 'today'

[2021-05-06 18:14] yogeshdesh17 opened #73 "Is it possible to download all the file for particular filling type ex. N-PORT for a given date?"
thanks for such an amazing python package!

Is it possible to download all the file for particular filling type ex. N-PORT for a given date? i mean without passing "ticker_or_cik" parameter.

[2021-05-08 22:16] jadchaar commented on #73
Closing in favor of https://github.com/jadchaar/sec-edgar-downloader/issues/42. Currently, this is not supported in sec-edgar-downloader, but I will look into adding it in a future release. In the meantime, check out https://pypi.org/project/python-edgar/, it might be able to fill this gap for you!

[2021-05-08 22:16] #73 closed

[2021-05-09 04:58] jadchaar commented on #32
Another user requested this functionality in an email to me:

[2021-05-09 21:20] knslee07 opened #75 "ticker greedy search"
Hello,

I have been enjoying this module. I found that when specifying a firm with a ticker, the code downloads other firms that include that ticker. For instance, when I use "DE", the computer downloads files from tens of CIKs. So are other short tickers like "V". Can you revise your source code so that it exactly finds only that ticker, not every ticker that includes the search word?

[2021-05-10 19:18] jadchaar commented on #75
Closing this issue for now, but please let me know if something else comes up :)!

[2021-05-10 19:18] #75 closed

[2021-05-10 20:01] jadchaar commented on #75
No problem at all! The SEC Edgar full text search system (which is quite new) is a bit whack, and I really do not understand why it treats tickers as partial searches rather than a single identifier. I wish there were more granularity to the system, but sadly this is what we are stuck with :(.

[2021-05-17 22:00] alexmartinezforte opened #77 "403 Forbidden is Back!"
Getting 403 Forbidden using version 4.1.0 while pulling 13F filings for past 1 year including amendments. I’m trying to download this for roughly 200 CIK codes. In total, I think it’s about 1200+ links that it generates.

It worked earlier today, but this evening this error has started again. I also started using sleep.time(30) between each CIK run, but still seeing the 403 error.

[2021-05-18 02:12] jadchaar commented on #77
Are you seeing the 403 on every single request right now? Or is it only after a certain amount of requests?

[2021-05-18 02:27] alexmartinezforte commented on #77
It fetches the first few and then the wave of 403’s happens. I even tried accessing from several different IP addresses so it appears to be a widespread issue.

I tried putting a sleep(20) in between each fetch in my for loop and that didn’t work.

I also changed in the constants.py time variable from 0.1 to 1 and it didn’t work either.

[2021-05-18 02:42] jadchaar commented on #77
Interesting. Are any tickers or CIKs causing this issue in particular? Or is it random? A 403 seems to indicate that the SEC is aggressively blocking your IP addresses. What is the full error that is emitted by the package?

[2021-05-18 13:12] alexmartinezforte commented on #77
It’s completely random on the CIK’s. The weird thing is that I tried it on IP’s that have never used this scraper before and the 403’s started happening right away.

The error is “Skipping full submission download for ‘000…-20-00179”… due to network error: 403 Client Error: Forbidden for url: …”

I wonder if dynamic user-agent and proxies would solve this. Are you able to replicate the issue when

[2021-05-18 14:14] HedgeShot commented on #77
Same issue here, updated to 4.1.0 yesterday and it was working fine (no more 403) but today I get many of them.

[2021-05-18 16:24] jadchaar commented on #77
Mind giving me the exact `dl.get()` commands you all ran that prompted these 403s so I can try to reproduce them on my end? Also would you mind including the full 403 client error message with the URL? The SEC Edgar full text search system seems to be a bit glitchy, especially with older filings, so if we can nail down the problematic tickers/filings, I can report the bug to the SEC full text sear

[2021-05-18 16:27] jadchaar commented on #77
If you try using 4.0.3 instead (`pip install sec-edgar-downloader==4.0.3`), does this issue still occur? I am using dynamic user agents in v4.0.3 and newer, but in 4.1.0 I am only creating a new user agent for each call to dl.get() rather than for each individual filing download.

[2021-05-18 18:35] curranje commented on #77
Getting the same error. Tried 4.0.3 and error still occurred. Ran the following and got the 403 error for the first 3 quarters of 2020 + a few from 2018 and 2016. Rerunning gives errors on a different subset of filings.

dl.get("13F-HR",  '0000312069' ,after="2016-01-01",include_amends=True)

[2021-05-19 07:53] HedgeShot commented on #77
I took only the latest 13F filling for each CIK (~150) so no "old" filings. My "workaround" as of now is to catch the URL of the failing one from the error string and save it in a .txt file. I then manually downloaded them as they were not very many. Obviously, a better choice would be to retry to automatically download those, as the error is random.

[2021-05-19 19:25] jadchaar commented on #77
Very odd. I just ran this command and it succeeded without error:

[code]

What's confusing me is that rate-limiting usually results in a 500 error code, not a 403, from what I have seen, but @HedgeShot's mention that redownloading the URLs manually fixes the issue makes me think that the SEC Edgar Search API returns a 500 on rate-limit and the actual filing downloads from SEC archives results in

[2021-05-19 19:48] alexmartinezforte commented on #77
The full error I get is below. I've replaced actual numbers with 0's. All the links in reality do work and I am able to access the needed files manually through chrome.

[code]

The issue is EDGAR has gotten smarter on finding crawlers. There are two ways around this:
- Implement backoffs between retries
- Emulate a full browser-styled request to download the files (not sure how this looks compare

[2021-05-20 01:14] alett1 commented on #77
I'm getting the same issue with forms 4
e.g.: Skipping filing detail download for '0001209191-21-033946' due to network error: 403 Client Error: Forbidden for url: https://www.sec.gov/Archives/edgar/data/0001142417/000120919121033946/doc4.xml
For more information check: https://httpstatuses.com/403.

[2021-05-20 01:49] jadchaar commented on #77
Thank you @alexmartinezforte and @alett1 for the information! The SEC must have implemented more aggressive rate-limiting mechanisms to prevent crawling recently. I am going to implement a backoff retry mechanism and will post here once I make the new release.

[2021-05-20 02:29] jadchaar commented on #77
I just released v4.2.0. Mind updating the package to the new version using `pip install -U sec-edgar-downloader` and reporting back on whether or not you all are still seeing the 403 error? I added an exponential backoff retry mechanism that will retry for a max of 10 times before failing (with the backoff increasing between each request) and am now randomizing the user-agent for each request rath

[2021-05-20 02:57] alett1 commented on #77
Thanks for the super quick release! Unfortunately seems like I'm still seeing 403 errors :/

[2021-05-20 03:08] jadchaar commented on #77
@alett1 are you still seeing the 403s when running this command: `dl.get("13F-HR", '0000312069' ,after="2016-01-01",include_amends=True)`? I have run this command 5 different times on v4.2.0 and each time it successfully downloaded 23 filings without any 403 errors. I wonder if the SEC has blacklisted the IP address you are using.

[2021-05-21 22:01] alexmartinezforte commented on #77
Made 2 large pulls (over 670 files downloaded per pull) over the last two days with no errors.

I can confirm v4.2.0 is working on my end

[2021-05-21 22:12] JadfJamal98 commented on #77
is there a limit per day? i am planning on downloading up to 900 files, should i divide them into batches? and btw one i updated to 4.2.0 its been running smoothly... much better than when i ran it yesterdayy thank you khayye jad

[2021-05-21 22:54] alexmartinezforte commented on #77
I think the SEC API has a 5000/day limit, but that’s not really applicable to this since it’s not using the developer api.

There’s no hard set limit, either way, 900 isn’t much. I’ve downloaded several thousand in the past with no issue.

[2021-05-22 04:41] jadchaar commented on #77
Awesome, that is great to hear. Thank you for helping to diagnose this tough issue! The SEC Edgar system is a bit of a pain to work with and this package's evolution would not be possible without the great community! Thanks again!

[2021-06-10 13:21] yyang6 opened #79 "Unable to navigate within the file"
When I click on the web links from the downloaded html files, the links don't actually navigate within the file, but direct to other web pages. For example, https://www.sec.gov/Archives/edgar/data/0000092116/000105690321000021/#i61d362493b964e1b9b072fa4670bd2f3_7

[2021-06-22 17:32] jadchaar commented on #79
Hi @yyang6 apologies for the late response, things have been hectic on my end. Thanks for reporting this, I will look into it :).

[2021-06-22 22:20] #79 closed

[2021-06-29 18:56] TZimm55 opened #81 "TreeBuilderForHtml5lib"
Code used (I just copied from your instructions, but replaced the downloader location):
[code]

This is the error that I am getting:
`class TreeBuilderForHtml5lib(html5lib.treebuilders._base.TreeBuilder):
AttributeError: module 'html5lib.treebuilders' has no attribute '_base'`

My inexperience coding research found the following, [LINK](https://github.com/Sigil-Ebook/Sigil/issues/316#issuecomment-

[2021-06-29 20:32] jadchaar commented on #81
Hi @TZimm55, this seems to be due to beauitfulsoup (the parsing engine used by this package) falling back to html5lib rather than using lxml. Try doing the following in a shell:

[code]

Then try running the script you included above. If that does not work, can you tell me the output of `pip list` inside the virtual env?

[2021-06-30 12:49] TZimm55 commented on #81
Hopefully this is helpful, I am pretty new to using the terminal/programming.

![image](https://user-images.githubusercontent.com/77949097/123962983-a48d6e80-d977-11eb-8a8b-6fd9608efdef.png)

[2021-06-30 17:18] jadchaar commented on #81
Hi @TZimm55, you need to activate your virtual environment after creating it by doing `source env/bin/activate`. When I do `pip list` on my end, I get the following:

[code]

Notice how I do not have html5lib, so bs4 is forced to use lxml instead.

[2021-06-30 17:46] TZimm55 commented on #81
@jadchaar I can't get it to work and I don't want to waste your time. We can just close this issue since its a user error. I appreciate the responses.

[2021-06-30 17:55] jadchaar commented on #81
You are not wasting my time :). I would love to get this working for you. Try this final option of uninstalling html5lib: `pip uninstall html5lib`.

[2021-06-30 18:16] TZimm55 commented on #81
@jadchaar that did the trick!

My whole goal was to be able to get a printed version of the filing, and the for life of me I could not find a way to do that via the SEC's website.

I opened the .html file once it downloaded.
![image](https://user-images.githubusercontent.com/77949097/124010317-4cb92c80-d9a4-11eb-9b11-44300e5dc273.png)

Thank you for your help and good job on the program, very nice

[2021-06-30 20:12] #81 closed

[2021-07-01 03:20] jadchaar commented on #81
Fantastic glad that worked :)! Best of luck going forward!

[2021-07-01 20:52] ividamileen commented on #77
@jadchaar I am facing this issue as well, but all I fetch is 86 10-Qs in a for loop. Any help would be appreciated.

[2021-07-02 15:22] jadchaar commented on #77
I have been attempting to fix this issue on the repo's CI pipeline as well--it seems to have started a few days back, which may indicate an increased/more aggressive effort by the SEC to rate limit. Are you only fetching a single 10-Q filing (e.g. `amount=1`) in a loop 86 times?

[2021-07-02 16:16] ividamileen commented on #77
Yes I am only fetching single 10-Q

[2021-07-02 18:16] alexmartinezforte commented on #77
This error is back - same exact error as one listed above for a 13F filing. “Too many 403 error responses” I pulled about 6 before this issue occurred.

[2021-07-02 23:13] jadchaar commented on #77
I am at a loss as to why this is occurring because nothing has changed with this package. The SEC must be very aggressively rare limiting suddenly, but it’s odd because this package abides by the 10 requests per second limit by the SEC and I retry 10 times in the code with a back off factor each time. I am sadly running out of solution for this. I tried increasing the timeout between requests from

[2021-07-02 23:47] alexmartinezforte commented on #77
Jad, let's talk to the SEC about it. So long as people are not selling information they download/parse from the SEC and that the calls are not exceeding the rate limit, there is no reason for the requests to be denied. Q2 just ended and data accessibility is vital.

Do you have a contact at the SEC?

[2021-07-02 23:48] alexmartinezforte commented on #77
The only other thing that I think would work is using proxies (for every request), but this seems inefficient and unnecessary given the SEC guidelines on data download policy.

[2021-07-05 15:50] jadchaar commented on #77
I’ve been contacting the full text search team,  but I wonder if I need to contact another team for this matter. Do you have anyone to potentially contact regarding this matter?

[2021-07-05 17:00] alexmartinezforte commented on #77
I don't have a contact at the SEC. I would start by contacting the people you contacted before and they will send your request over to the proper party.

In the meantime, I do want to say I did get this to work using requests.

Originally this was my first attempt:
[code]

I tried it as is and it worked ok, put it in a for loop and it was 403 on and off. Annoying. But then on the SEC website, they

[2021-07-05 18:02] ividamileen commented on #77
I also contacted SEC at their webmaster email and got the response to send
user-agent in the company format.

On Mon, Jul 5, 2021 at 12:00 PM alexmartinezforte ***@***.***>
wrote:

--
Regards,
Neelima Divi

[2021-07-06 04:45] jadchaar commented on #77
Thanks for the info folks. I’m going to be out of town for the next week but I’ll get to this once I get back!

[2021-07-06 16:54] janfe2o3 opened #84 "Getting data with CIK does not work"
Hi really good work you're doing here, already helped me a lot! However, while it works fine with tickers, the download of fillings via CIK does not work for me. I would be very happy if you could fix this!

Example Microsoft:
![image](https://user-images.githubusercontent.com/85082017/124638503-5272ae80-de8b-11eb-865c-617cc9a78f0a.png)

[2021-07-06 21:03] jadchaar commented on #84
Hi @janfe2o3, I will have to investigate this in more detail once I am back home, but I just tried this and it worked:

[code]

I gotta look into why the truncated CIK is causing trouble because I am able to reproduce the bug you are seeing.

[2021-07-15 01:08] jadchaar commented on #77
I have updated the `User-Agent` header string in v4.2.2 to conform to the new SEC Edgar fair access guidelines and it seems to be working nicely. Thanks for the tip @alexmartinezforte. I am really happy to see that the SEC is beta testing an API first approach to the Edgar system--hopefully I can move this package to that in the future once it leaves beta.

[2021-07-15 01:08] #77 closed

[2021-07-15 01:08] #84 closed

[2021-08-13 16:17] ake3210 commented on #41
Thank you for this package, it helps a lot! Unfortunately, I am currently facing the same problem as kuatroka (the author of this issue). Is there already an update regarding his question?

If the package would allow for receiving the readable .txt and later on .html-files, is it possible to include a code that automatically takes the .html-files from the folder where it has been stored and conver

[2021-09-25 06:59] Jennyyanhuadong opened #87 "Search key word that are a phrase"
# Get all Apple proxy statements that contain the term "contract design", I use the code:
dl.get("DEF 14A", "AAPL", query="contract design")

However, the downloaded files include 'contract' or 'design', but not include the exact phrase 'contract design'.

[2021-09-26 00:22] jadchaar commented on #87
Hi @Jennyyanhuadong, can you try including quotes around your query like: `dl.get("DEF 14A", "AAPL", query="'contract design'")` or `dl.get("DEF 14A", "AAPL", query="\"contract design\"")`? That should search for the entire phrase.

[2021-09-26 11:21] Jennyyanhuadong commented on #87
Hi @jadchaar, thanks a lot for your reply. dl.get("DEF 14A", "AAPL", query="'contract design'") does now work, but dl.get("DEF 14A", "AAPL", query="\"contract design\"") works.

[2021-09-26 11:37] Jennyyanhuadong commented on #56
I agree with 'nono-london'. An R package at https://cran.r-project.org/web/packages/edgar/edgar.pdf downloads files with labels that include cik, filing date, and accession number, such as '3116_8-K_2012-01-03_0001157523-11-007356'.

[2021-09-26 11:51] Jennyyanhuadong opened #88 "Download filings that include query key words and high light the key words"
Hi,

Thanks a lot for your package. Could I ask whether it is possible to download filings that include query key words and high light the key words, as shown in the function 'searchFilings' of the R 'edgar' package? (https://poseidon01.ssrn.com/delivery.php?ID=653004094099107078078028007009071095049017031083090035064103092096008114125090031121022102098031119063013103109081015006103064000020066087

[2021-09-26 15:16] #87 closed

[2021-10-03 12:57] nono-london opened #90 "Form S-1 not found for SGFY"
Hi, I'am trying to query information relating to the IPO of a stock named Signify Health, ticker "SGFY".
As per your example, I use:
[code]
This only returns 8-K forms, while the S-1 is actually being mentioned in one of the 8-K (so it must exists).:
![sec_sgfy_s1](https://user-images.githubusercontent.com/7720585/135754374-d91082f3-2904-428c-86a3-6e0290a910dd.PNG)

From the [SEC website](https://

[2021-10-04 15:25] ariza394 commented on #77
It is working, thaank you so much

[2021-10-11 12:25] acriptis opened #91 "403 Client Error: Forbidden for url"
Hello, I'm trying to dwnload 13F-HR form with your library but I have 403 Error:
[code]
Version of the library is '4.2.2'

What is the best practive with handling this issue?

[2021-10-15 03:40] jadchaar commented on #41
Sorry for the delayed response to this request--things have been hectic recently. I am going to keep the issue open so I can give it another look going forward and see what I can do!

[2021-12-12 18:34] weseemahmed opened #93 "10-Q for symbol "V" doesn't return Visa Inc."
Searching for symbol "V" for 10-Q forms returns other securities besides Visa Inc. depending on quarterly submission. 10-K appears to work fine.

[2021-12-14 00:55] RainmakerP opened #94 "Change User Agent"
Hello,

The code is constantly breaking down. We've tried different IPs but it's not working. It's possibly because the entire library and all its users are using one, common, user agent.

So, how do we change the user agent?

Regards,

[2021-12-19 18:46] jadchaar commented on #94
Hi @RainmakerP, what type of errors/status codes are you receiving? Also, are you using this library across multiple threads or processes?

Currently, I randomize the User-Agent string automatically on each request: https://github.com/jadchaar/sec-edgar-downloader/blob/4a42cf82f086d0e262ea1b2a0e4a02d6047d4d20/sec_edgar_downloader/_utils.py#L248

[2021-12-24 17:47] jadchaar commented on #93
Hey @weseemahmed! This is due to the package's underlying use of the [SEC full text search API](https://www.sec.gov/edgar/search/). The API is a bit lenient in it's query abilities, so I recommend getting around this bug by fetching filings using the CIK for Visa: `1403161`. You can find CIKs for tickers using this website: https://www.sec.gov/edgar/searchedgar/cik.htm

Let me know if any further

[2021-12-24 17:47] #93 closed

[2022-01-01 04:15] #94 closed

[2022-01-01 04:16] jadchaar commented on #94
Feel free to reopen this issue if you have any further comments or concerns :)!

[2022-01-01 04:16] jadchaar commented on #91
Hi @acriptis, mind trying v4.3.0 to see if this is still occurring?

[2022-01-01 04:21] jadchaar commented on #88
Hi @Jennyyanhuadong thanks for the feature request. My responses:

1 and 2: I am simply passing the search query to the SEC Edgar Search API, so I sadly have no control over what is returned and I am doing no processing of the downloaded files. That functionality is better reserved for a separate package dedicated to parsing out filings. If you'd like to make a contribution to either this package

[2022-01-01 04:21] #88 closed

[2022-01-01 06:52] Jennyyanhuadong commented on #88
Hi Jad,

Thanks a lot for your reply. Happy New Year!

Best,
Jenny

On Sat, Jan 1, 2022 at 3:22 PM Jad Chaar ***@***.***> wrote:

--
Yours sincerely
Jenny Yanhua Dong

Level 8, Faculty of Business and Economics, The Spot
The University of Melbourne, Parkville, VIC 3010, Australia
Mobile(C):+61-477-932-579

[2022-01-02 19:51] jadchaar commented on #88
Happy new year to you as well!

[2022-01-06 18:19] zhunarold commented on #91
I have the same issue with v4.3.0

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Anaconda3\envs\python37\lib\site-packages\sec_edgar_downloader\Downloader.py", line 180, in get
    query,
  File "D:\Anaconda3\envs\python37\lib\site-packages\sec_edgar_downloader\_utils.py", line 163, in get_filing_urls_to_download
    resp.raise_for_status()
  File "D:\Anaconda

[2022-01-06 18:22] jadchaar commented on #91
Hey all, thanks for the feedback. I am working on an update in v5 that should resolve these issues. I am in progress of migrating to the new data API provided by the SEC, and that should mitigate these 403 errors completely.

[2022-01-07 02:42] zhunarold commented on #91
look forward to v5.

[2022-01-08 01:53] jadchaar commented on #90
Hey @nono-london thanks for the report. I am in the process of re-writing this package with the official Edgar data API provided by the SEC. This issue seems to be fixed in my in-progress refactor.

[2022-01-09 07:33] jadchaar commented on #41
I looked into this a bit and it seems like an involved web scraping approach is required since the `FILENAME` attribute inside of the full submission does not seem sufficient to locate the table files. Take this one for example: https://www.sec.gov/Archives/edgar/data/1067983/000095012321015518/0000950123-21-015518-index.html. Here the filename is listed as `<FILENAME>6820.xml`, but the file is lo

[2022-01-09 07:33] #41 closed

[2022-01-09 19:43] jadchaar opened #96 "Add support for downloading XBRL from official API"
The official SEC EDGAR API now support fetching XBRL data: https://www.sec.gov/edgar/sec-api-documentation

It would be nice to add support for these new data endpoints to the package.

[2022-01-09 19:49] jadchaar commented on #43
Examples of XLSX:

* Berkshire Hathaway: https://www.sec.gov/Archives/edgar/data/1067983/000156459021055032/Financial_Report.xlsx
* Apple 10-K: https://www.sec.gov/Archives/edgar/data/320193/000032019321000105/Financial_Report.xlsx
    * Landing page which contains "View excel document" link: https://www.sec.gov/cgi-bin/viewer?action=view&cik=320193&accession_number=0000320193-21-000105&xbrl_type=

[2022-02-20 08:49] ilhamait28 commented on #56
Hello,
Thank you for the code!
I used the code to download the 10-k txt filings (without download_details) thanks to these lines:

from sec_edgar_downloader import Downloader
# Download filings to the current working directory
dl = Downloader()
# Get all 10-K filings for Microsoft without the filing details
dl.get("10-K", "MSFT", download_details=False)

I noticed that each txt file comes in a dif

[2022-03-02 18:38] donbowen opened #97 "Add a check to prevent re-downloading files already downloaded"
A feature/enhancement request.

I think this could be implemented in the main [downloader class](https://github.com/jadchaar/sec-edgar-downloader/blob/master/sec_edgar_downloader/Downloader.py) by inserting at line 182 a check that removes anything in the `filings_to_fetch` that is already downloaded.

[2022-04-13 21:09] arik12 opened #98 "Filtering by more words and HTML syntax cleaning"
Hi, long time financial researcher, this is an awesome package.

Two things that can greatly help:
1. filtering by more than one word/string.
2. Cleaning the HTML syntax from the .txt file.

Thanks!

[2022-06-10 06:27] xueying-bi opened #99 "404 Client Error: Not Found for url"
I am trying to use a list of cik to download "NSAR-A" filling.  Here is the code I use:

[code]

However, sometimes here is a message shown that: "Skipping filing detail download for 'xxx' due to network error: 404 Client Error: Not Found for url: xxx". I am not sure about reason behind, does it mean I cannot download these files or these files do not exist?

Thank you for your help!

[2022-07-25 18:19] lkl2050 commented on #43
hope to add function to download other types of attachment documents as well. Like [https://www.sec.gov/Archives/edgar/data/1934348/000166919122000687/offeringstatement.pdf](url)

Their names are not always like offeringstatement.pdf, but they will usually be pdf and jpg files, so its possible to use regex to allow downloading all urls that have a format of https://www.sec.gov/Archives/edgar/data/

[2022-08-10 03:38] lixuanze commented on #99
I am facing the same issue

[2022-08-10 03:38] lixuanze commented on #99
Is the issue got fixed? If so, how does it got fixed?

[2022-08-10 03:43] lixuanze opened #100 "Skipping full submission download for '0000320193-21-000105' due to network error: 404 Client Error: Not Found for url: https://www.sec.gov/Archives/edgar/data/0000320193/000032019321000105/0000320193-21-000105.txt."
Hi, someone please fix the issue above. I am not able to use SEC-edger to download any document now. Thanks!

[2022-08-10 07:04] lpyleo-123 commented on #99
Hello! I am facing the same 404 problem today.

[2022-08-10 07:06] lpyleo-123 commented on #100
Hello! I am also facing this problem today. Also 404.

[2022-08-10 15:53] ana-lam commented on #100
I believe this might be related to the issue of including an email in `User-Agent`. After removing my email from my `User-Agent`, my 404 errors disappeared.

[2022-08-10 15:55] lixuanze commented on #100
Hi, I don't understand... Could you please elaborate on what does User-Agent do? Is it in the code or anything?

[2022-08-11 02:52] lpyleo-123 commented on #100
Hello, lixuanze! It works again with no 404 now. Try again, please.

[2022-08-11 09:27] DarrenForsythe commented on #99
Appears that the SEC is blocking the `user-agent` that is faker is making.

You can patch out the method fairly easily and the functionality should be,

[code]

[2022-08-14 03:51] jadchaar commented on #99
@DarrenForsythe that is interesting because the SEC explicitly asks the user-agent to be declared as `Sample Company Name AdminContact@<sample company domain>.com` according to https://www.sec.gov/os/webmaster-faq#code-support

I wonder if using domain names like gmail.com, hotmail.com etc are getting throttled harder than company domains.

[2022-08-14 16:11] punitarani commented on #100
SEC requires you to provide some basic "whoami" information when making requests using the User-Agent header.
Check out https://www.sec.gov/os/accessing-edgar-data.

[2022-08-29 15:49] vaclavku opened #101 "TXT download"
Hello Jad, I've been using your library couple years ago and it downloaded the TXT files.
Nowadays, it downloads the HTML plus TXT in a separate dictionary (with the name of filling).
Is there any option to download the TXT fillings with the name only?

Many thanks. Vaclav

[2022-09-09 02:50] theelderman opened #102 "Download the file from 1993"
This package can not download the file before 2000, if I want to download the file from 1993 how should i do?
Why this can not download from 1993?

[2022-10-21 19:30] alexdinisor98 opened #103 "HTTPError: 500 Internal Server Error"
Hello Jad,

I encountered this issue, when trying to run the .get function for 10-K filings, searching by CIK, in a loop with 7k steps, as follows: After the 10-15th iteration it throws this error "HTTPError: 500 Server Error: Internal Server Error for url: https://efts.sec.gov/LATEST/search-index".
Is there a way to address this issue? I even tried with a time.sleep() of 10 seconds, but it leads

[2022-10-23 03:16] JJery-web commented on #103
Yes I also meet the same question.

[2022-10-23 03:17] JJery-web commented on #97
How to use this function please? Due to the fact that it usually stops by 404

[2022-10-27 06:29] JJery-web opened #104 "Incomplete data age"
Hello, I found that some files (I downloaded 10Ks) have incomplete years. For example, only the data from 2016 to 2021 have been downloaded, but the data from 2000 to 2016 cannot be obtained.
I just use:
dl.get("10-K", Name)

where the Name is a CIK of a company.

What is the reason for this?
Thank you!

[2022-10-27 14:41] scrappyreed opened #105 "Problem with NT NPORT-P Filing Type"
Great package!   Really helpful API.

One issue:  I was missing the Q2 NPORT-P filing for CIK 0001041673, Series S000025526.    Discovered on the web query it may be due to the filing type being "NT NPORT-P"

![image](https://user-images.githubusercontent.com/116819131/198311544-e1ceacd8-8a52-46ac-a729-42c62e9424cb.png)

However, even when querying for that filing type through the API, nothing is

[2022-10-27 17:47] scrappyreed commented on #104
Are you sure there are SEC filings for that CIK for that period?   Try a web query at this page:

[https://www.sec.gov/edgar/search/?r=el#/dateRange=custom&category=custom&startdt=2001-01-01&enddt=2022-10-27]

If the web query doesn't return anything, the API won't either

[2022-10-28 06:29] JJery-web commented on #104
Thank you very much for your reply.

It's really strange. For example, the CIK is 0001350593. I downloaded the 2006-2021 10-K report through the sec-edgar-downloader. Based on your suggestion, I did not find any annual reports before 2006 through the search function[https://www.sec.gov/edgar/search/?r=el#/dateRange=custom&category=custom&startdt=2001-01-01&enddt=2022-10-27].

Is this because the S

[2022-10-28 14:29] scrappyreed commented on #104
I suggest you read the documentation on the EDGAR website to understand what filings are available historically.

[2022-10-28 14:31] JJery-web commented on #104
Fine. Thank you. :(

[2022-11-29 16:27] PDLee87 opened #106 "Problem with "UPLOAD" form"
Hi, according to the supported SEC filing type, the downloader is able to get "UPLOAD" However, when I tried to download the forms for Microsoft for example as below:

from sec_edgar_downloader import Downloader
dl = Downloader("directory folder")
dl.get("UPLOAD", "MSFT")

it does not download anything. Can you please let me know why? Thank you!